<div class="container">
  <div class="content">
  	<% logo = image_tag("logo.png", :alt => "NoiseBox") %>
	<%= link_to logo, root_path %>
  	<!-- <h1 align="center">NoiseBox</h1> -->
	<h2 align="center">give the music you like</br>the importance it deserves</h2>
  	<p align="center">
  	  <iframe width="560" height="315" src="http://www.youtube.com/embed/jikHNwRNBwU" frameborder="0" allowfullscreen></iframe>
    </p>
</br>
  	<p align="center">
  	  <iframe width="560" height="315" src="http://www.youtube.com/embed/Qyj29P3aTdA" frameborder="0" allowfullscreen></iframe>
    </p>
</br>

    <p>NoiseBox is a new way to create a physical collection of music.<br>
    </p>
    <p>Remember the times when you had CDs laying around everywhere, showing off what you were listening to. Remember the times when you had shelves full of beloved CD covers. You now regret that the iPod, Deezer and Spotify killed your physical collection of music. Smile again : we're bringing it back with NoiseBox.<br>
  </p>
    <p>The whole set is DIY, and you're in control of your collection growth. So that you give the music you like the importance it deserves.</p>
    <p>Follow us <a href="http://twitter.com/#!/NoiseBoxTeam" target="_blank">@NoiseBoxTeam</a> to stay tuned! You can also send us an <a href="mailto:noiseboxteam@gmail.com">email</a>.</p>
<p>NoiseBox is the proud winning hack of <a href="http://hackdayparis.org/" target="_blank">Hack Day Paris 2011</a>, and has been made with love and scissors by <a href="http://twitter.com/#!/pierregerlach" target="_blank">Pierre-Rudolf Gerlach</a>, <a href="http://twitter.com/#!/oli_bre" target="_blank">Olivier Bréchon</a>, and <a href="http://twitter.com/#!/pefavre" target="_blank">Pierre-Etienne Favre</a>.</p>
</div>
</div>